# Import cache
.import/
*.translation
export_presents.cfg
.mono/
.godot/
*.import

# Binaries
bin/
build/
lib/
Maps/Nobles \House/autosave/
.godot/uid_cache.bin
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/Level1Chase.tscn-editstate-f83d06c54742858d11c6aa08a18a2ad2.cfg
.godot/editor/Level1Chase.tscn-folding-f83d06c54742858d11c6aa08a18a2ad2.cfg
.godot/editor/Player.tscn-editstate-831075429c71e5d1bbbb1834494c8899.cfg
.godot/editor/Player.tscn-folding-831075429c71e5d1bbbb1834494c8899.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/editor/Template.tscn-editstate-bf354bf71312b94464509a30c07ca149.cfg
.godot/editor/Template.tscn-folding-bf354bf71312b94464509a30c07ca149.cfg
.godot/imported/Prism.gltf-ff1eecfe401b668dc643b2d3ed1ea33c.md5
.godot/imported/Prism.gltf-ff1eecfe401b668dc643b2d3ed1ea33c.scn
.godot/imported/Sword.obj-ddf87c37e55273106555413aeaf4469b.md5
.godot/imported/Sword.obj-ddf87c37e55273106555413aeaf4469b.mesh
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/obj/Project Thief.csproj.nuget.dgspec.json
.godot/mono/temp/obj/Project Thief.csproj.nuget.g.props
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/Debug/Project Thief.assets.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.AssemblyReference.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/Project Thief.dll
.godot/mono/temp/obj/Debug/Project Thief.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/Debug/Project Thief.pdb
.godot/uid_cache.bin
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/Level1Chase.tscn-editstate-f83d06c54742858d11c6aa08a18a2ad2.cfg
.godot/editor/Level1Chase.tscn-folding-f83d06c54742858d11c6aa08a18a2ad2.cfg
.godot/editor/Player.tscn-editstate-831075429c71e5d1bbbb1834494c8899.cfg
.godot/editor/Player.tscn-folding-831075429c71e5d1bbbb1834494c8899.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/editor/Template.tscn-editstate-bf354bf71312b94464509a30c07ca149.cfg
.godot/editor/Template.tscn-folding-bf354bf71312b94464509a30c07ca149.cfg
.godot/imported/Prism.gltf-ff1eecfe401b668dc643b2d3ed1ea33c.md5
.godot/imported/Prism.gltf-ff1eecfe401b668dc643b2d3ed1ea33c.scn
.godot/imported/Sword.obj-ddf87c37e55273106555413aeaf4469b.md5
.godot/imported/Sword.obj-ddf87c37e55273106555413aeaf4469b.mesh
.godot/mono/metadata/ide_messaging_meta.txt
.godot/mono/temp/obj/Project Thief.csproj.nuget.dgspec.json
.godot/mono/temp/obj/Project Thief.csproj.nuget.g.props
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/Debug/Project Thief.assets.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.AssemblyReference.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/Debug/Project Thief.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/Project Thief.dll
.godot/mono/temp/obj/Debug/Project Thief.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/Debug/Project Thief.pdb
